<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.chen.twilight"
        android:versionCode="1"
        android:versionName="1.0">

    <uses-permission android:name="net.zhuoweizhang.mcpelauncher.ADDON"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- This is the platform API where NativeActivity was introduced. -->
    <uses-sdk android:minSdkVersion="9" />
    
    <!-- This .apk has no Java code itself, so set hasCode to false. -->
    <application android:label="@string/app_name" android:hasCode="false">

    <!-- metadata specifying the library name. must match Android.mk.-->
    <meta-data android:name="net.zhuoweizhang.mcpelauncher.api.nativelibname"
        android:value="com.chen.twilight"/>

    <meta-data android:name="net.zhuoweizhang.mcpelauncher.api.targetmcpeversion" android:value="1.0.0.16"/>
    </application>

</manifest> 
